{% extends '::admin.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="col-sm-12">
            <ol class="breadcrumb hidden-xs">
                <li><a href="{{ path('homepage') }}">{{ 'home'|trans }}</a></li>
                <li><a href="{{ path('admin') }}">{{ 'Admin'|trans }}</a></li>
                <li><a href="{{ path('price_view') }}">{{ 'AdminPrice'|trans }}</a></li>
                <li class="active">{{ 'AdminPriceCreate'|trans }}</li>
            </ol>
        </div>
        <div class="col-lg-2">
            {% include '::admin_menu.html.twig' %}
            {% block menu %}{% endblock %}
        </div>
        <div class="col-lg-10">
            {{ form_start(form) }}
            <div class="well">

                <h3><b>{{ 'AdminPriceCreate'|trans }}</b></h3>
                <br />

                <div class="form-group">
                    <label for="count">{{ 'TableNumberOfAccounts'|trans }}</label>
                    {{ form_widget(form.count_account, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.count_account) }}
                </div>
                <div class="form-group">
                    <label cfor="price">{{ 'TablePrice'|trans }}</label>
                    {{ form_widget(form.price, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.price) }}
                </div>
                <br />

            </div>

            <div class="well">
                <div style="padding: 10px;">
                    <button class="btn btn-success">
                        <i class="fa fa-save" aria-hidden="true"></i>
                        {{ 'UsersSave'|trans }}
                    </button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}