{% extends '::admin.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="col-sm-12">
            <ol class="breadcrumb hidden-xs">
                <li><a href="{{ path('homepage') }}">{{ 'home'|trans }}</a></li>
                <li><a href="{{ path('admin') }}">{{ 'Admin'|trans }}</a></li>
                <li class="active">{{ 'AdminPrice'|trans }}</li>
            </ol>
        </div>
        <div class="col-lg-2">
            {% include '::admin_menu.html.twig' %}
            {% block menu %}{% endblock %}
        </div>
        <div class="col-lg-10">
            <div class="well text-right">
                <a href="{{ path('price_create') }}" class="btn btn-sm btn-default">
                    <span class="fa fa-plus-circle"></span>
                    {{ 'AdminAdd'|trans }}
                </a>
            </div>
            <div class="well well-sm">
                <div class="btn-group">
                    <a href="#" id="list" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-th-list"></span>
                    </a>
                    <a href="#" id="grid" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-th"></span>
                    </a>
                </div>
            </div>
            {% for t in prices %}
                <div class="well-small">
                    <div class="well">
                        <div class="row products">
                            <div class="item  col-xs-5 col-sm-6 col-md-3">
                                <div class="row brd">
                                    <div class="col-xs-12 col-md-12" style="max-height:50px !important;">
                                        <p class="group inner list-group-item-text">
                                        <h6>{{ 'TableNumberOfAccounts'|trans }}:&nbsp;{{ t.countaccount }}</h6>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-xs-4 col-sm-4 col-md-8">
                                <div class="row brd">
                                    <div class="col-xs-12 col-md-12">
                                        <p class="group inner list-group-item-text">
                                        <h6>{{ 'TablePrice'|trans }}:&nbsp;{{ t.price }}</h6>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-xs-3 col-sm-2 col-md-1">
                                <div class="row brd">
                                    <div class="pager">
                                        <div class="btn-group">
                                            <a href="{{ path('price_edit', {id:t.id}) }}" class="btn btn-sm btn-default">
                                                <span class="fa fa-edit"></span>
                                            </a>
                                            <a href="{{ path('price_delete', {id:t.id}) }}" onclick="return confirm('Удалить цену?');" class="btn btn-sm btn-default">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <br />
    <br />

    <script type="text/javascript" src="{{ asset('bundles/app/js/js.cookie.js') }}"></script>
    <script>
        $(document).ready(function() {
            if(Cookies("display") == "grid"){
                $('.products').addClass('products_grid');
                $('.products .item').addClass('list-group-item');
                $('.well-small .well').addClass('col-xl-3 col-lg-2 col-md-4 col-sm-4 col-xs-6');
            }
            $('#grid').click(function(event){
                event.preventDefault();
                $('.products').addClass('products_grid');
                $('.products .item').addClass('list-group-item');
                $('.well-small .well').addClass('col-xl-3 col-lg-2 col-md-4 col-sm-4 col-xs-6');
                Cookies.set("display", "grid");
            });
            $('#list').click(function(event){
                event.preventDefault();
                $('.products').removeClass('products_grid');
                $('.products .item').removeClass('list-group-item');
                $('.well-small .well').removeClass('col-xl-3 col-lg-2 col-md-4 col-sm-4 col-xs-6');
                Cookies.remove("display");
            });
        });
    </script>


    <style>
        .item.list-group-item{
            width: 100%;
            float: none;
            display: inline-block;
            padding: 10px 20px;
        }
        .brd{
            padding: 0px;
        }
        .products{
            background: rgba(51, 51, 51, 0.12);
            padding: 6px 0px 0px 0px;
        }
        .products_grid{
            background:  transparent;
            padding: 0px;
        }
        .pager{
            margin: 0px;
        }
        .well-small > .well {
            padding: 5px 20px;
            margin-bottom: 0px;
        }
    </style>

{% endblock %}