{% extends '::base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% include '::users_header.html.twig' %}
                    {% block header %}{% endblock %}
                </div>
            </div>
            {#<div class="row">#}
                {#<div class="col-sm-12">#}
                    {#<ol class="breadcrumb hidden-xs">#}
                        {#<li><a href="{{ path('homepage') }}">{{ 'home'|trans }}</a></li>#}
                        {#<li class="active">{{ 'UsersProfile'|trans }}</li>#}
                    {#</ol>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-lg-12">#}
                    {#{% include '::users_menu.html.twig' %}#}
                    {#{% block menu %}{% endblock %}#}
                {#</div>#}
            {#</div>#}
            <div class="col-lg-12" style="background: #fff; color: #000;">
                <div class="text-center">
                    <p><h4>{{ 'Standing payment'|trans }}:&nbsp;
                        {% if action == 'subscribe' %}
                            {{ 'Yes'|trans }}
                        {% else %}
                            {{ 'No'|trans }}
                        {% endif %}
                    </h4></p>
                    <p><h4><strong>{{ 'UsersAmount'|trans }}:&nbsp;{{ sum }}</strong><i class="fa fa-usd" aria-hidden="true"></i></h4></p>
                </div>
                <div class="well text-center">
                    {{ html | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}