{% extends '::base.html.twig' %}

{% block body %}
    <style>
        .collections {
            padding: 0px;
        }

        .collections li {
            display: block;
        }

        .advertisings {
            padding: 0px;
        }

        .advertisings li {
            display: block;
        }

        /*input[type="checkbox"] {*/
            /*!*margin: 2px 0px 2px 6px;*!*/
            /*width: 20px;*/
            /*height: 20px;*/
        /*}*/

        #order_count_profile {
            /*margin: 2px 0px 2px 6px;*/
            color: #000;
        }

        input[type="checkbox"], label {
            /*vertical-align: middle;*/
            font-weight: normal;
        }
        td, th {
            padding: 0;
            width: 100px;
        }
        .p-b-20{
            font-size: 14px;
        }
    </style>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% include '::users_header.html.twig' %}
                    {% block header %}{% endblock %}
                </div>
            </div>
            <div class="col-lg-12 collections">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="col-md-12" style="margin: 50px 0;">
                <table style="width: 100%; border-spacing: 7px 11px;">
                    <thead class="p-b-20">
                    <tr>
                        <td>{{ 'Total number of establishment'|trans }}</td>
                        <td class="text-center">{{ 'Number of logins*'|trans }}</td>
                        <td class="text-center">{{ 'Subscrition fee**'|trans }}</td>
                        <td class="text-center">{{ 'Average cost of one institusion'|trans }}</td>
                        {#<td>{{ 'Make this a regular payment?'|trans }}</td>#}
                        <td></td>
                    </tr>
                    </thead>
                    <tbody style="font-size: 16px">
                        <tr>
                            <td class="input-group input-group-sm">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i></span>
                                {{ form_widget(form.count_profile, { 'attr': {'class': 'form-control'} }) }}
                            </td>
                            <td class="text-center"><span id="number_of_login"></span></td>
                            <td class="text-center"><span id="subscription_fee"></span></td>
                            <td class="text-center"><span id="average_coast"></span></td>
                            {#<td>{{ form_widget(form.subscribe) }}</td>#}
                            <td class="text-right">
                                <button type="submit" class="btn btn-success">
                                    Subscribe
                                    {#{{ 'Subscribed to establishment'|trans }}<apan> 2 </apan>{{ 'establishment'|trans }}#}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="col-md-12 p-b-20">
                    {{ form_widget(form.advertising_and_jingles) }}
                    {{ form_label(form.advertising_and_jingles) }}
                </div>
                {{ form_end(form) }}
            </div>
            <div class="row" style="border-bottom: 1px solid #e8e8e8; padding-top: 20px;clear: both;"></div>
            <h6>*Two additional logins for backup and remote control are provided  free of change</h6>
            <h6>**Prices of listed in $US. To clarify the amount in national currency, please contact the bank servicing your payment card</h6>
        </div>

    </div>


    <script>
        var order_count_profile = $('#order_count_profile');
        var order_advertising_and_jingles = $('#order_advertising_and_jingles');
        var number_of_login = $('#number_of_login');
        var subscription_fee = $('#subscription_fee');
        var average_coast = $('#average_coast');
        var count = order_count_profile.val();
        $(function () {
            updateCount(count);
            order_count_profile.change(function () {
                count = order_count_profile.val();
                updateCount(count);
            });
            order_advertising_and_jingles.change(function () {
                count = order_count_profile.val();

                updateCount(count);
            });
        });
        function updateCount(count) {
            var j = 1;
            if( order_advertising_and_jingles.prop('checked')){
                j = 1.5;
            }
            subscription_fee.text((5 + parseInt(count) * 7) * j);
            average_coast.text((((5 + parseInt(count) * 7) * j)/parseInt(count)).toFixed(2));
            number_of_login.text(parseInt(count) + 2);
        }

    </script>
{% endblock %}
