{% extends '::base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="container">

            {% include '::users_header.html.twig' %}
            {% block header %}{% endblock %}
            {#<div class="row">#}
            {#<div class="col-lg-12">#}
            {#<ol class="breadcrumb hidden-xs">#}
            {#<li><a href="{{ path('homepage') }}">{{ 'home'|trans }}</a></li>#}
            {#<li class="active">{{ 'UsersPay'|trans }}</li>#}
            {#</ol>#}
            {#</div>#}
            {#</div>#}
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="text-center">
                            <h3><b>{{ 'UsersSelectSubscription'|trans }}</b></h3>
                        </div>
                        <div class="text-center">

                            {% for p in prices %}
                                <div class="col-lg-4" style="margin: 20px 0;">
                                    <a href="{{ path('user_pay_create', {'id':p.id}) }}">
                                        <div class="m-tarifs">
                                            <div class="item">
                                                <div class="title">
                                                    <h3><strong>BUSINESS</strong></h3>
                                                </div>
                                                <div class="title">
                                                    <h4>({{ 'MembersTo'|trans }} {{ p.countaccount }} {{ 'Members'|trans }})</h4>
                                                </div>
                                                <div class="price">USD {{ p.price }} на місяць</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                            <div class="text">{{ 'To receive payments using a secure channel technology guaranteed'|trans }}
                                [...]
                            </div>
                            <div class="text" style="padding-bottom: 20px; border-bottom: 1px solid #e8e8e8;">
                                {{ 'Adelagio subscription will automatically renew each month until the cabinet is turned off option.'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>


{% endblock %}
