{% extends '::base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% include '::users_header.html.twig' %}
                    {% block header %}{% endblock %}
                </div>
            </div>
            {#<div class="row">#}
                {#<div class="col-lg-12">#}
                    {#<ol class="breadcrumb hidden-xs">#}
                        {#<li><a href="{{ path('homepage') }}">{{ 'home'|trans }}</a></li>#}
                        {#<li class="active">{{ 'UsersPay'|trans }}</li>#}
                    {#</ol>#}
                {#</div>#}
            {#</div>#}
            {#<div class="row">#}
                {#<div class="col-lg-12">#}
                    {#{% include '::users_menu.html.twig' %}#}
                    {#{% block menu %}{% endblock %}#}
                {#</div>#}
            {#</div>#}
            <div class="col-lg-12" style="background: #fff;color: #000;">
                <p>{{ 'PayStatus'|trans }}:&nbsp;
                    {% if status == "ok" %}
                        {{ 'PayStatusSuccessfully'|trans }}
                    {% else %}
                        {{ 'PayStatusRefusal'|trans }}
                    {% endif %}
                </p>
                <br />
            </div>
        </div>
    </div>
    <br />
    <br />


{% endblock %}
