{% extends '::base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% include '::users_header.html.twig' %}
                    {% block header %}{% endblock %}
                </div>
            </div>
            <div class="row" style="border-bottom: 1px solid #e8e8e8; padding-bottom: 100px;">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <table style="width: 100%;">
                                    <thead class="p-b-20">
                                    <tr>
                                        <td>{{ 'TableUser'|trans }}</td>
                                        <td>{{ 'TableCreate'|trans }}</td>
                                        <td>{{ 'TableEnded'|trans }}</td>
                                        <td>{{ 'TablePrice'|trans }}</td>
                                        <td>{{ 'Standing payment'|trans }}</td>
                                        <td>{{ 'TableNumberOfAccounts'|trans }}</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for t in orders %}
                                        <tr class="{% if t.subscribe == true %}
                                            yes
                                        {% else %}
                                            no
                                        {% endif %}">
                                            <td>{{ t.users.username }}</td>
                                            <td>{{ t.creation|date('Y-m-d') }}</td>
                                            <td>{{ t.ended|date('Y-m-d') }}</td>
                                            {#<td>{{ t.ordersAccountCountPrices.price }}</td>#}
                                            <td>{{ t.summ }}</td>
                                            <td>
                                                {% if t.subscribe == true %}
                                                    {{ 'Yes'|trans }}
                                                {% else %}
                                                    {{ 'No'|trans }}
                                                {% endif %}
                                            </td>
                                            <td>{{ t.countprofile }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ asset('bundles/app/js/js.cookie.js') }}"></script>

    <style>
        .item.list-group-item {
            width: 100%;
            float: none;
            display: inline-block;
            padding: 10px 20px;
        }

        .group {
            width: 33.333333333%;
            display: block;
            float: left;
        }

        .group .item {
            background: #333333 !important;
        }

        tr.yes td {
            color: #3ea443;
        }

        .list {
            width: 100%;
            display: block;
            margin-bottom: 15px;
            background: #333333 !important;
        }

        table td {
            width: 12.5%;
            text-align: center;
        }

        thead td {
            padding-bottom: 20px;
            font-size: 14px;
        }

        tbody td {
            padding-bottom: 10px;
        }

        .brd {
            padding: 0;
        }

        .products {
            background: rgba(51, 51, 51, 0.12);
            overflow: hidden;
        }

        .products_grid {
            background: transparent;
            padding: 6px 0 0 0;
        }

        .pager {
            margin: 0;
        }

        .well-small > .well {
            padding: 5px 20px;
            margin-bottom: 0;
        }
    </style>

{% endblock %}